/*Common Elements*/
body{
    font-size: 67.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #233237;
    padding: 0;
    margin: 0;

}

h1{
    color:#984843;
    font-size: 3em;
    margin: 10px 0 15px 0.5em;
    padding: 0;
}

a{
    font-size: 1.2em;
    line-height: 1.4em;
    color: #984843;
    padding: 0;
    /* margin: 0 0.5em 0.75em 0; */
    text-decoration: none;
}

a, a:visited{
    color: #984843;
}

a:hover{
    color: #18121e;
}

p{
    font-size: 1.2em;
    line-height: 1.4em;
    color: #18121e;
    padding: 0;
    margin: 0 0.5em 0.75em 0;
}

hr{
    padding: 0;
    margin: 1em 1em 0.75em 1em;
}

.contentWrapper{
    margin: 0 auto; /*Margin auto will center between L-R in this line*/
    max-width: 1170px;
    padding: 0;
}

.left{
    float: left;
}

.right{
    float: right;
}

div.clear{
    clear:both;
    font-size: 1%;
}

/*Header*/

header{
    padding: 0 0 0 0;
    margin: 0;
    width: 100%;
    background-image: url(img/stonesHeader.jpg);
}

header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #984843;
    font-size: 6.5em;
    letter-spacing: 0.025em;
    padding: 1.3em 40% 0 20px;
    margin: 0;
    text-shadow: 2px 2px 2px #eac67a; /*offset-x ofset-y blur-radius color*/
}

header h2{
    font-weight: 300;
    font-size: 3.8em;
    color: #eac67a;
    margin: 0em 0 0.4em 0;
    padding: 0 0.5em 0 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/*Nav Bars*/

nav{
    color:#984843;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1em 1em 1em;
    margin: 1em 0;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0;
}

nav li a, nav li a:visited{
    text-decoration: none;
    font-size: 1em;
    color: #984843;
    padding: 0.10em 0.25em .35em 0.25em;
}

nav li a:hover{
    color: #eac67a;
    background-color: #984843;
}

nav#utilityMenu{
    float: right;
    margin: 0;
    padding: 0.25em;
    background-color: #eac67a;
    vertical-align: middle;
}

nav#utilityMenu li{
    margin: 0.1em 0.1em 0.1em 0.1em;
    vertical-align: middle;
}

nav#utilityMenu li a:hover{ 
    background-color: #23323775;
}

#utilityMenu input[type=text]{
    width: auto;    
    float: right;
    border: 0;
    padding: 5px 0 2px 5px;
    font-size: 1.1em; 
    background-color: #233237;
    color: #fff; 
    vertical-align: middle;  
}

nav#shopMenu {
    max-width: 1170px;
    margin: auto;
    background-color: #eac67a;
    vertical-align: middle;
}

nav#shopMenu li{
    padding: 0 0.25em 0 0.25em;
}

.socialIcon{
    width: 25px;
    height: 25px;
    fill: #984843;
    vertical-align: middle;
}

.hBottom{
    background-color: #eac67a;
    margin: 0;
    padding-left: 20px;
    font-size: 1em;
    font-weight: bold; 
    color: #233237;
}

/*Main Section*/

section #main{
    background-color: #eac67a;
    margin: 0 0 2.0em;
    padding: 1.5em 0 2.0em 1.5em;
    display: inline-block;
}

section div.panel{
    float: left;
    position: relative;
    width: 250px;
    height: 425px;
    margin: 0 0.5em 1em 0.5em;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.6em;
}

section div.panel img.superSourv {
    width: 100%;
}

/*Sidebar Section*/

section#sidebar{
    width: 300px;
    height: 1426px;
    float: right;
    position: relative;
    display: block;
    margin: 0;
    padding: 0 1em 1em 0;
}

#falseFeed{
    margin: 0 0.25em;
    background-color: #fff;
    border: solid #eac67a 5px;
    border-radius: 10px;
    padding: 1em;
    font-size: 1em;
}
section#sidebar ul{
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    padding: 0 0 0 1.0em;
}

section#sidebar ul li{
    margin: 0;
    padding: 0 0 0 0.2em;
   
}

section#sidebar ul li a{
    color: #eac67a;
}

section#sidebar ul li::before{
    content: '';
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
    margin-bottom: -.35em;
    background-image: url(img/icons/avengers.svg);
    background-size: contain;
}

/*Footer*/

footer {
    background-color: #eac67a;
    font-size: 1.2em;
    color: #233237;
    width: 100%;
    text-align: center;
    margin: 2em 0 0 0; 
    padding: 0.25em 0 0.5em 0;
}

footer ul#menuFooter{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li{
    display: inline-block;
    padding: 0 0.3em 0 0;
    margin: 0;
}

footer ul li::before{
    content: "| ";
    padding-right: 0.7em;
}

footer a, footer a:visited{
    color:#984843;
    text-decoration: none;
    font-size: 1em;
}

footer a:hover{
    color: #984843;
    text-decoration: underline;
}

/* Decorative elements */

button{
    color: #eac67a;
    background-color: #233237;
    margin: 0;
    padding: 0.25em 0.5em;
    border: 1px solid #eac67a;
    text-transform: uppercase;
    position: absolute;
    bottom: 2%;
    right: 4%;
}

button:hover{
    background-color: #eac67a;
    border: 1px solid #233237;
    color: #233237;
}