/*Common Elements*/
body{
    font-size: 67.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #233237;
    padding: 0;
    margin: 0;

}

h1{
    color:#2ba967;
    font-size: 2.0em;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}

h2{
    color:#745b2f;
    font-size: 1.7em;
    padding: 0px;
    margin: 0.5em 0 0.35em 0;
}

p{
    font-size: 1.2em;
    line-height: 1.4em;
    color: #555;
    padding: 0;
    margin: 0 0.5em 0.75em 0;
}

ol{
    font-size: 1.2em;
    margin: 0 0 0 1.0em;
    padding: 0 0 0 1.0em;
}

ol li{
    margin: 0;
    padding: 0 0 0 0.2em;
}

a, a:visited{
    color: #c64322;
}

a:hover{
    color: #333;
}

hr{
    padding: 0;
    margin: 1.5em 1.5em 0.75em 0.5em;
}

.contentWrapper{
    margin: 0 auto; /*Margin auto will center between L-R in this line*/
    max-width: 1170px;
    padding: 0;
}

.left{
    float: left;
}

.right{
    float: right;
}

div.clear{
    clear:both;
    font-size: 1%;
}

/*Header*/

header{
    padding: 2.5em 0 0.5em;
    margin: 0;
    background-image: url(img/stonesHeader.jpg);
}

header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #984843;
    font-size: 7.5em;
    letter-spacing: 0.025em;
    margin: 0;
    text-shadow: 2px 2px 2px #eac67a; /*offset-x ofset-y blur-radius color*/
}

header h2{
    font-weight: 300;
    font-size: 3.8em;
    color: #eac67a;
    margin: 0 .5em 0 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.hBottom{
    width: 100%;
    height: 6em;
    background-color: #eac67a;
    margin-bottom: -1em; 
    font-size: 1em;
    font-weight: bold; 
    color: #233237;
}

/*Nav Bars*/

nav{
    color:#000;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1em 1em 0.5em;
    margin: 1em 0;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0;
}

nav li a, nav li a:visited{
    text-decoration: none;
    color: #984843;
    padding: 0.3em 0.6em;
}

nav li a:hover{
    color: #984843;
    background-color: rgba(252, 251, 243, 0.75);
}

nav#utilityMenu{
    float: right;
    margin: -1.5em 0 0 0;
    padding: 0.35em;
    background-color: #eac67a;
    height: 1.5em;
}

nav#utilityMenu li{
    padding: 0 0.25em 0 0.2em;
    vertical-align: middle;
}

nav#utilityMenu ul li.acctNav a, nav#utilityMenu ul li.acctNav a:visited {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 1.3em;
    padding: 0.5em;
    margin: -0.4em 0 0 0;
    font-size: 0.8em;
}

nav#utilityMenu ul li.acctNav a.active{
    background-color: #984843;
}

nav#utilityMenu ul li.acctNav a:hover{
    background-color: rgba(252, 251, 243, 0.7);
    color:  #984843;
}

nav#utilityMenu li a, nav#utilityMenu li a:visited { padding:0;}
nav#utilityMenu li a:hover{ background-color: transparent;}
nav#utilityMenu ul li input#search{
    vertical-align: middle;
    margin: 0 0 0 1em;
}

nav#utilityMenu ul li.acctNav::before, nav#utilityMenu ul li input#search::before{
    content: "| ";
    color: #fcfbe6;
}

/*Sidebar Section*/

section#sidebar{
    width: 300px;
    float: left;
    position: relative;
    display: block;
    background-color: #fff;
    margin: 2em 2em 2.0em 0;
    padding: 2em 1em 2.0em 2em;
    border-right: #eac67a solid 5px;
}

#falseFeed{
    margin: 0 0.25em;
    border: solid black 5px;
    border-radius: 5px;
    padding: 1em;
}

/*Main Section*/

section #main{
    background-color: #fcfbe6;
    margin: 0 0 2.0em;
    padding: 1.5em 0 2.0em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;
}

section div.panel{
    float: left;
    position: relative;
    width: 250px;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.6em;
}

section div.panel img.cheeseType {
    width: 100%;
}

/*Footer*/

footer {
    background-color: #eac67a;
    height: 25px;
    font-size: 1.2em;
    color: #233237;
    width: 100%;
    text-align: center;
    padding: 1em 1em;
}

footer ul#menuFooter{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li{
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}

footer ul li::before{
    content: "| ";
    padding-right: 0.7em;
}

footer a, footer a:visited{
    color:#fff;
    text-decoration: none;
}

footer a:hover{
    color: #fff;
    text-decoration: underline;
}

/* Decorative elements */

button{
    color: #c64322;
    background-color: #fff;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.2em 0.5em;
    border: 1px solid #c64322;
    text-transform: uppercase;
}
button:hover{
    background-color: #fbf3db;
    border: 1px solid #745b2f;
}